fastapi
uvicorn[standard]
websockets
opencv-python
ultralytics
paddlepaddle
paddleocr
supervision
torchreid
numpy
pillow
python-multipart
gdown
tensorboard
python-dotenv
sqlalchemy
psycopg2-binary
requests
