fastapi
uvicorn[standard]
websockets
opencv-python
ultralytics
easyocr
supervision
torchreid
torch
tensorboard
numpy
pillow
python-multipart
gdown
python-dotenv
sqlalchemy
psycopg2-binary
asyncpg
requests
pandas
scipy
